:root {
    --light:white;
    --dark: rgb(27, 69, 23);
    --med: rgb(73, 16, 16);
}

* {
    background-color:var(--med);
    font-family:sans-serif;
    color:var(--light);
}

body {
    margin: 0;
    padding: 3rem;
    background: url('../imgs/360_F_225084966_hhswkk9GgkAKcr2p1n69aaiI1jETbZO9.jpg') no-repeat center center fixed;
    background-size: cover;
    background-color:var(--med);
    
}


header {
     display:flex;
     flex-direction: row;
      justify-content:space-between;
      background-color:var(--light);
      border-bottom: 5px solid black;
      font-family: serif;
      border-radius: 2rem 2rem 0em 0rem;
      border: 7px solid var(--dark);
}

 h1 { 
    background-color: var(--light);
    margin-top:250px;
    margin-left:5px;
    font-family:serif;
    text-align: center;
    color:rgb(73, 28, 28);
}

.photo {
    top:70px;
    left:70px;
    width: 10%;
    border-radius:10rem 10rem 1rem 1rem;
    position: absolute;
    border:5px solid var(--med);
}

 nav {
    margin-top:200px;
    background-color:var;
    background-color: var(--light);
}

ul {
    align-items: end;
    background-color: var(--light);
}

a[href$="style.css"]::before {
    content:"🥑";
    display: inline-block;
    background-color: var(--light);
}

li {
    display:inline;
    padding: 0 10px;
    font-size: larger;
    font-weight: bold;
    font-family:serif;
    background-color: var(--light);
    color:var(--med);
}

li:hover {
    color:var(--dark);
}

a:hover {
    color:var(--dark);
    cursor: grab;
}


section {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:center;
    
}

main {
    border:5px solid black;
}

h2 {
    color:var(--light);
    background-color: black;
   
    
}

.about-me {
    font-size: larger;
    text-decoration:none;
}


.horiseon {
    border-radius: 5rem;
    border: 2px solid;
    margin:auto; 
    transition: box-shadow .1;
}

 .horiseon:hover, .portfolio:hover, .project:hover {
    box-shadow: 0 0 20px greenyellow;
}

.git-hub {
    background-color: var(--med);
}

div {
    display: flex;
    justify-content: space-around;
    margin-right:20px;

    
}
.portfolio {
    width: 49%;
    border-radius:5rem;
    border: 2px solid;
    margin-left:10px;
    transition: 0.5s ease-in-out;
 
}

.project{
    border-radius:5rem;
    border: 2px solid;
    margin-left:10px;
    transition: 0.5s ease-in-out;
    margin-top:10px;
    
    width:49%;
}

h2:hover {
    color:var(--dark);
}

.contact {
    display:flex;
    flex-direction:column;
    background-color: var(--med);
    color:var(--light);
    align-items: center;
    margin-right:20px;
}

.contact-info {
    text-align: center;
}

strong {
    text-decoration: underline;
}

footer {
    text-align: center;
    margin:0;
}

.footer {
    border: 5px solid black;
}
@media screen and (max-width: 1000px) {
  
    header {
        display:flex;
        flex-direction: column;
        align-items: center;
        width: 98%;
    }
    
    .photo {
        justify-content: center;
        position: relative;
        margin-right: 125px;
        margin-bottom: 100px;
    }

     a {
        background-color: var(--light);
    }
    .email {
        background-color: var(--med);
    }

    li {
        margin-right:30px;
    }
  

    nav > .code {
        display: block;
        position:absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        min-height: 100vh;
        object-fit: cover;
        z-index: -1;
    }

    nav {
        margin:0;
    }
    
    h1 {
        margin:auto;
        text-align: center;
        
    }

    section {
    display: flex;
    text-align: center;
  }


    .portfolio, .horiseon{
   width:50%;
   position: static;
  }

}

@media screen and (max-width: 750px) {
    header {
        display:flex;
        flex-direction: column;
        align-items: center;
        width: 97%;
    }

}
    
@media screen and (max-width: 600px) {
    header {
        display:flex;
        flex-direction: column;
        align-items: center;
        width: 96%;
    }
    ul {
        display: flex;
        flex-wrap: wrap;
        
    }

    li {
        align-items: end;
        margin:0;
       
    }

    a[href$="style.css"]::before {
        content:"🥑";
        display: inline;
        background-color: var(--light);
    }
    



}
    





    

